//todo ----------------  RIGHT SECTION ----------------

.rigth {
    margin-top: 1.4rem;

    //* ---------------- Top ----------------
    .top {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2rem;
        //background-color: $color-test-1;

        #menu-btn {
            display: none;
        }

        .profile {
            display: flex;
            gap: 1rem;
            text-align: right;
        }

        // ---------------- End of Top ----------------
    }

    //* ----------------  Toggler ----------------
    .theme-toggler {
        background-color: $color-light;
        justify-content: space-between;
        align-items: center;
        height: 1.6rem;
        width: 4.2rem;
        cursor: pointer;
        border-radius: $border-radius-1;
        display: flex;

        span {
            font-size: 1.2rem;
            width: 50%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                background-color: $color-primary;
                color: $color-white;
                border-radius: $border-radius-1;
            }
        }

        // ----------------  Toggler ----------------
    }

    //* ----------------  Recent Updates ----------------
    .recent-updates {
        margin-top: 1rem;

        h2 {
            margin-bottom: 0.8rem;
        }

        .updates {
            background-color: $color-white;
            padding: $card-padding;
            border-radius: $card-border-radius;
            box-shadow: $box-shadow;
            transition: $transition-1;

            &:hover {
                box-shadow: none;
            }

            .update {
                display: grid;
                grid-template-columns: 2.6rem auto;
                gap: 1rem;
                margin-bottom: 1rem;
            }
        }

        // ---------------- End of Recent Updates ----------------
    }

    //* ---------------- Sales analytics ----------------
    .sales-analytics {
        margin-top: 2rem;
        //background-color: $color-test-1;

        h2 {
            margin-bottom: 0.8rem;
        }

        .item {
            background-color: $color-white;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0.7rem;
            padding: 1.4rem $card-padding;
            border-radius: $border-radius-3;
            box-shadow: $box-shadow;
            transition: $transition-1;

            &:hover {
                box-shadow: none;
            }

            &.✅📶 .icon {
                background-color: $color-primary;
            }

            &.❌📶 .icon {
                background-color: $color-danger;
            }

            &.👤 .icon {
                background-color: $color-success;
            }

            &.➕🛍️ {
                background-color: transparent;
                border: 2px dashed $color-primary;
                color: $color-primary;
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.6rem;

                    h3 {
                        font-weight: 600;
                    }
                }
            }

            .icon {
                padding: 0.6rem;
                color: $color-white;
                border-radius: 50%;
                background-color: $color-test-1;
                display: flex;
            }

            .rigth {
                display: flex;
                justify-content: space-between;
                align-items: start;
                margin: 0;
                width: 100%;
            }
        }

        // ---------------- End of Sales analytics ----------------
    }
}

//? ---------------- END OF RIGHT SECTION ----------------