//todo: ----------------  CONFIG ----------------

//* Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

//* Local
@import "./sass/_config.scss";

//* ----------------  CONTAINERS ----------------

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: $color-background;
    user-select: none;
    overflow-x: hidden;
    color: $color-dark;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    //background: $color-test-1;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem; //aside main rigth section
}

img {
    display: block;
    width: 100%;
}

//todo: ----------------  IMPORTS ----------------

@import "sass/text";
@import "sass/aside";
@import "sass/main";
@import "sass/rigth-section";